
.npn {
  margin-top: 50px;
  margin-left: 200px;
  color: white;
  display: flex;
    justify-content: stretch;
}

.row {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 250px;
  width: 400px;
  border: 0;
  border-radius: 10px;
  background: url(http://www.psdgraphics.com/file/world-map-background.jpg) no-repeat; 
  background-size: cover;
  color: white;

}
.card-info {
  display: flex;
  padding-left: 12%;
}
#pus {
  width: 37%;
  height: 1%;
  margin-left: -14%;
  margin-top: 6%;
}
#log {
  width: 35%;
height: 104px;
margin-top: 26%;
  

}
.row h1 {
  margin-left: 18%;

}
.container{
  display: flex;
}
.container h2{
  margin-right: -90%;
  
}
.valid-date{
  display: flex;
  margin-top: 12%;
  font-size: 12px
}
.date{
  margin-left: 2%
}
.date-info{
  display: flex
}
.valid-date p{
margin-top: 40%;
font-weight: bold
}
.info h3 {
  background-color:yellow
}

.Title{
  margin-top: 15%;
  display: grid;
  justify-items: end;
  color: black;

}